* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Ubuntu', 'Oxygen', 'Cantarell', 
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
}
